<footer class="">
    <div class="footer-container">
        <div class="footer-container-line">
            <div class="footer-main-block">
            Программный комплекс для распознавания животных с помощью компьютерного зрения
            </div>
        </div>
        <div class="footer-container-line">
            <div class="footer-block">
                <a href="http://bgitu.ru/"><img class="logo" src="{{ url_for('static', filename='images/logo/Герб_БГИТУ.png') }}" alt=""></a>
            </div>
            <div class="footer-block">
                <a href="#"><img class="logo" src="{{ url_for('static', filename='images/logo/Распознаватель.png') }}" alt=""></a>
            </div>
            <div class="footer-block">
                <a href="https://t.me/animal_classifier_bot"><img class="logo" src="{{ url_for('static', filename='images/logo/telegram-icon.png') }}" alt=""></a>
            </div>
        </div>
    </div>
</footer>