<nav class="revealator-slidedown revealator-delay3 revealator-duration5">
<ul id="main-menu">
    <li class="revealator-slideleft revealator-duration5 revealator-delay8">
        <a href="{{ url_for('index') }}">🏠 Главная</a>
    </li>
    <li class="revealator-slidedown revealator-duration5 revealator-delay12">
        <a href="{{ url_for('database') }}">📦 База данных</a>
    </li>
    <li class="revealator-slideright revealator-duration5 revealator-delay8">
        <a href="{{ url_for('info') }}">📝 Справка</a>
    </li>
</ul>
</nav>